.Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: #877476;
    /* font-size: 3rem; */
    color: #FBFCF2;
}

.Header a:hover {
    color: #CED3CD;
}

a {
text-decoration: none;
}

a:visited {
    color: #FBFCF2;
}
Link {
    text-decoration: none
}

Link:visited {
    color: #FBFCF2;
}
