.MashupCreate {
    /* font-size: 5rem; */
    background-color: #A7A2A2;
    padding: 2rem;
}


.MashupCreate-Header {
    font-size: 4rem;
    color: #877476;
    padding: 1.5rem;
}






.MashupCreate-Form, .MashupCreate-Form {
    color: #877476;
    font-size: 1.5rem;

    /* font-size: 1rem; */
}



.MashupCreate-Input, .MashupCreate-Input {
    background-color: #E5E6E4;
    color: #877476;
    border: none;
    font-size: 1.8rem;
    border-radius: 10px;
    margin: 1rem;

}



.MashupCreate-Button {
    background-color: #E5E6E4;
    color: #877476;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}

.MashupCreate-Button:hover {
    background-color: #CED3CD;
    color: #877476;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}




.Gif-Search-title {
    font-size: 3rem;
    color: #877476;
    padding: 3rem;
}

.coming-soon {
    font-size: 2rem;
    color: #FBFCF2;
    padding-top: 13rem;
}



.Gif-Search-Form {
    color: #877476;

    /* font-size: 2rem; */
}



.Gif-Search-Input {
    background-color: #E5E6E4;
    color: #877476;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.3rem;


}



.song-show-name {
    color: #FBFCF2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.song-show-artist {
    color: #877476;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;

}

.song-show-button {
    background-color: #877476;
    color: #FBFCF2;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 10px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 1rem;
}

.song-show-button:hover {
    background-color: #877476;
    color: #CED3CD;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 10px;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}

