.LoginRegister {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40rem 40rem; 
    grid-template-rows: 40rem;
    grid-template-areas: "login register";
    background-color: #E5E6E4;
    color: #877476;

}

.Login {
    grid-area: login
}

.Register {
    grid-area: register
}

.Register-Header {
    font-size: 3.5rem;
}

.Login-Header {
    font-size: 3.5rem;
}

.Register-Input {
    /* background-color: black; */
}

.Login-Input {
    /* background-color: black; */
}

.Register-Form, .Login-Form {
    color: #877476;

    /* font-size: 1rem; */
}



.Register-Input, .Login-Input {
    background-color: #A7A2A2;
    color: #FBFCF2;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    margin: 1rem;

}



.Login-Register-Button {
    background-color: #A7A2A2;
    color: #FBFCF2;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}

.Login-Register-Button:hover {
    background-color: #A7A2A2;
    color: #CED3CD;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
}
