.Footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1rem;
    background-color: #877476;
    /* font-size: 3rem; */
    color: #FBFCF2;

}

.Footer a:hover {
    color: #CED3CD;
}

a {
text-decoration: none;
}

a:visited {
    color: #FBFCF2;
}